@import 'ember-paper';
[data-color=red] {background-color:#fb4f4f}
[data-color=blue] {background-color:#5858fb}
[data-color=green] {background-color:#609460}
[data-color=grey] {background-color:#DDDDDD}

.md-contact-chips .md-chips .md-chip {
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  .md-contact-avatar img {
    height: 16px;
  }
}

.md-ripple-container {
  min-height: 0px;
  box-shadow: 0;
}
.related {
  margin-left: 10px;
  .F,.P {
    margin-left: 8px;
    padding: 1px 5px 1px 5px;
  }
}
.F,.P {
  max-height: 20px;
  margin-right: 8px;
  padding: 1px 1px 1px 5px;
  border-radius: 60%;
  color: white;
}
.P {
  background-color: #0091ca;
}
.F {
  background-color: red;
}
.count {
  font-weight: 600;
  //margin-left: 5px
}

.priority {
  padding: 1px 5px 1px 5px;
  border-radius: 60%;
  color: white;
}
.units {
  text-decoration:none;
	color:#333333;
	font-size:12px;
	font-weight:bold;
	padding:0 5px;
	line-height:16px;
	height: auto;
	display:inline-block;
	text-align:center;
  border-radius: 16px;
}

.data-row {
  margin: 30px;
  border-color: #d6d6d6;
  border-bottom-width: thin;
  margin-bottom: 10px;
  border-top-style: solid;
  border-top-width: thin;
}
.data-row:hover {
  background-color: #a0a0a0;
}

.units:hover {
  filter: brightness(125%);
}
@import "ember-bootstrap/bootstrap";
