@import 'ember-paper';
[data-color=red] {background-color:#fb4f4f}
[data-color=blue] {background-color:#5858fb}
[data-color=green] {background-color:#609460}
[data-color=grey] {background-color:#DDDDDD}

.md-contact-chips .md-chips .md-chip {
  font-size: 14px;
  height: 16px;
  line-height: 16px;
  .md-contact-avatar img {
    height: 16px;
  }
}

@keyframes update {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

table {
  width: 100%;
}
.md-ripple-container {
  min-height: 0px;
  box-shadow: 0;
}
.related {
  margin-left: 10px;
  .F,.P {
    margin-left: 8px;
    padding: 1px 5px 1px 5px;
  }
}
.F,.P {
  max-height: 20px;
  margin-right: 8px;
  padding: 1px 1px 1px 5px;
  border-radius: 60%;
  color: white;
}
.P {
  background-color: #0091ca;
}
.F {
  background-color: red;
}
.count {
  font-weight: 600;
  //margin-left: 5px
}

.priority {
  padding: 1px 5px 1px 5px;
  border-radius: 60%;
  color: white;
}

.space {
  min-width: 100px;
}

.units {
  text-decoration:none;
	color:#333333;
	padding:0px 5px 0px 5px;
  margin: 5px 2px 5px 2px;
	height: auto;
	display:inline-block;
	text-align:center;
  border-radius: 3px;
  background-color: #a0a0a0;
}



.data-row {
  margin: 30px;
  border-color: #d6d6d6;
  border-bottom-width: thin;
  margin-bottom: 10px;
  border-top-style: solid;
  border-top-width: thin;
}
.data-row:hover {
}

.units:hover {
  filter: brightness(125%);
}
td:nth-child(2) {
  padding-right: 10px;
}
td:nth-child(3) {
  padding-right: 10px;
}
td:nth-child(4) {
  padding-top: 2px;
  min-width:30px;
}
td:nth-child(5) {
  white-space: nowrap;
}
td:nth-child(6) {
  width: 25%;
}
td:nth-child(7) {
  width: 60%;
}
td:nth-child(8) {
  width: 30%;
}
td {
  vertical-align: top;
}

th {
  text-align: center;
}

.to-top {
  position: fixed;
  bottom: 0;
  right: 0;
}

@import "ember-bootstrap/bootstrap";
